$background-color: lightgrey;

@mixin nameable {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nameable {
  @include nameable();
}

@mixin z($name) {
  @if index($z-indexes, $name) {
    z-index: (length($z-indexes) - index($z-indexes, $name)) + 1;
  } @else {
    @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
  }
}

$z-indexes: (
  "floating",
  "directions",
  "doors",
  "raised",
  "rooms",
  "streets",
);



html {
  overflow: hidden;
  background-color: $background-color;

  touch-action: none;

  height: 100%;
  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  height: fill-available;

}

body {
  margin:0;
  min-height: 100vh;
  position:fixed;
}

#map-container {
  width: 100vw;
  height: 100vh;
}

#map {
  width: 900px;
  height: 1000px;
  position: absolute;
  will-change:inherit;
}

map-room {
  @include nameable;
  @include z("rooms");
}

map-door {
  @include z("doors");
}

map-street {
  @include nameable;
  @include z("streets");
}

#directions {
  @include z("directions");
}

.highlight {
  @include z("directions");
  outline: 3px solid darkblue;
  position: absolute;
}

direction-line {
  @include z("directions");
}

.raised {
  @include z("raised");
}

#floating {
  @include z("floating");
  position: absolute;
  padding: 5px;
  background-color: darken($background-color, 5);
  border: darken($background-color, 10) 1px solid;
  overflow-y: auto;
  max-height: 100%;
}

#search {
  @include z("floating");
  background-color: darken($background-color, 5);
  border: darken($background-color, 10) 1px solid;
}

.link {
  color: rgb(0, 0, 238);
  cursor: pointer;
  text-decoration: underline;
}

#collapse {
  visibility: visible;
}

pinch-zoom {
  min-width: 100%;
  min-height: 100%;
}
